<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" *ngIf="this.authService.isChef" routerLink="/chefprofile">
              <i class="fa fa-user"></i>Chef Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="this.authService.isChef" routerLink="/posts/upload">
              <i class="fa fa-plus-circle"></i>Post New Recipe
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="confirmOrder()" *ngIf="this.authService.isChef">
              <i class="fa fa-check"></i>Confirm New Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="activeRecipe()" *ngIf="this.authService.isChef">
              <i class="fa fa-bell"></i>Active Recipes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="inactiveRecipe()" *ngIf="this.authService.isChef">
              <i class="fa fa-bell-slash"></i>Inactive Recipes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="serveList()" *ngIf="this.authService.isChef">
              <i class="fa fa-book"></i>You Will Serve
            </a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link active" *ngIf="this.authService.isCustomer">
              <i class="fa fa-user"></i>User Profile
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" (click)="bookMeal()" *ngIf="this.authService.isCustomer">
              <i class="fa fa-cart-plus"></i>Book your Meal
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="collectOrder()" *ngIf="this.authService.isCustomer">
              <i class="fa fa-clock-o"></i>Collect Your Order
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="inProcessOrder()" *ngIf="this.authService.isCustomer">
              <i class="fa fa-spinner"></i>Inprocess Order
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="pastOrder()" *ngIf="this.authService.isCustomer">
              <i class="fa fa-shopping-cart"></i>Past Order
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{
                  user.photo
                    ? user.photo
                    : '../../../assets/dummy-user.png'
                }}" alt="{{ user.displayName }}" />
              <div class="media-body">
                <h1>
                  Hello:{{ user.fullname ? user.fullname : "User" }}
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isCustomer">
        <div *ngIf="showCustomerDashboard">
          <h1>Recipes posted by your beloved neighbour chefs</h1>
          <div class="row">
            <div class="col-md">
              <h6>Type of Recipe</h6>
              <select [(ngModel)]="label" (change)="filterExact('label', label)">
                <option value="snacks">Snacks</option>
                <option value="others">Others</option>
                <option value="main course">Main Course</option>
                <option value="sweets">Sweets</option>
                <option value="all">All</option>
              </select>
            </div>
            <div class="col-md">
              <h6>Select Veg / Non-Veg</h6>
              <select [(ngModel)]="type" (change)="filterExact2('type', type)">
                <option value="veg">Veg</option>
                <option value="non-veg">Non-Veg</option>
                <option value="both">Both</option>
              </select>
            </div>
            <div class="col-md">
              <h6>Order Day</h6>
              <select [(ngModel)]="day" (change)="filterDateMoreThan('date',day)">
                <option value="today">Today</option>
                <option value="otherday">Any Other Day</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" *ngFor="let recipeData of filterPostList">
              <div class="thumbnail" style="text-align:center">
                <div style="margin :0 auto">
                  <h3>{{ recipeData.title }}</h3>
                  <img [src]="recipeData.imageUrl" style="max-width: 200px; height: 200px; "/>
                  <h6>{{recipeData.description}}</h6>
                  <h6>Rs {{ recipeData.price }}</h6>
                  <h6>Made by Chef <a (click)="viewChefProfile(recipeData.userid)">{{ recipeData.username }}</a> </h6>
                  <h6>{{recipeData.dishsold}} dishes of {{recipeData.title}} sold</h6>
                  <h6>Dish will be served on {{recipeData.date}}</h6>
                  <h6>Pickup-start time:{{ recipeData.pickuptimestart }}</h6>
                  <h6>Pickup-end time:{{ recipeData.pickuptimeend }}</h6>
                  <h6>Book before: {{ recipeData.deadlinetime }} on {{recipeData.date}}</h6>
                  <p><button class="btn btn-primary" (click)="onClick(recipeData.key)">Book</button></p>
                </div>
              </div>
            </div>
            <!-- if nothing to book ,request will come -->
          </div>

        </div>
        <div *ngIf="showInProcessOrder">
          <h1>Your inprocess orders(not confirmed by chef / not paid)</h1>
          <div class="row">
            <div class="col-md-4" *ngFor="let order of inProcessOrderList">
              <div class="thumbnail" style="text-align:center">
                <div style="margin :0 auto">
                  <h3>{{ order.item }}</h3>
                  <h6>Quantity :{{order.quantity}}</h6>
                  <h6>Total amount = Rs {{ order.price }}</h6>
                  <h6>Dish will be served on {{order.pickupdate}}</h6>
                  <h6 *ngIf="order.orderstatus == 'pending' else pay">Order is Pending to confirm</h6>
                  <ng-template #pay>
                    <!-- dropdown for COD and online payment. -->
                    <p><button class="btn btn-primary" (click)="payForOrder(order,'COD')">Pay Now</button></p>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showCollectOrder">
          <h1>Your orders to be collected</h1>
          <div class="row">
            <div class="col-md-4" *ngFor="let order of collectOrderList">
              <div class="thumbnail" style="text-align:center">
                <div style="margin :0 auto">
                  <h3>{{ order.item }}</h3>
                  <h6>Quantity :{{order.quantity}}</h6>
                  <h6>Total amount = Rs {{ order.price }}</h6>
                  <h6>Order is to be picked up on {{order.pickupdate}}</h6>
                  <h6>Pick-up time start {{order.pickuptimestart}}</h6>
                  <h6>Pick-up time end {{order.pickuptimeend}}</h6>
                  <h6>Chef name : {{order.chefname}}</h6>
                  <h6>Chef Address : {{order.chefaddress}}</h6>
                  <h6>Chef Mobile Number : {{order.chefmobile}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showPastOrder">
          <h1>Your past orders</h1>
          <div class="row">
            <div class="col-md-4" *ngFor="let order of pastOrderList">
              <div class="thumbnail" style="text-align:center">
                <div style="margin :0 auto">
                  <h3>{{ order.item }}</h3>
                  <h6>Quantity :{{order.quantity}}</h6>
                  <h6>Total amount = Rs {{ order.price }}</h6>
                  <h6>Order picked up on {{order.pickupdate}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isChef">
        <div *ngIf="showChefDashboard">
          <div *ngIf="ordersToBeConfirmed.length !==0 else noOrders">
            <h3>You have recieved new orders</h3>
            <div div class="row">
              <div class="col-md-4" *ngFor="let order of ordersToBeConfirmed">
                <div class="thumbnail" style="text-align:center">
                  <div style="margin :0 auto">
                    <h3>{{ order.item }}</h3>
                    <h6>Quantity: {{order.quantity}}</h6>
                    <h6>Total Amount: {{ order.price }}</h6>
                    <h6>Customer name: {{order.customername}}</h6>
                    <h6>Cooking Note: {{order.note}}</h6>
                    <p><button class="btn btn-primary" (click)="chefConfirmsOrder(order.ordid)">Confirm Order</button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noOrders>
            <div>
              <h3>No new orders to confirm</h3>
            </div>
          </ng-template>
        </div>
        <div *ngIf="showActiveRecipe">
          <h1>Your active recipes are.</h1>
          <div class="row">
            <div class="col-md-4" *ngFor="let recipeData of postListForBook">
              <div class="thumbnail" style="text-align:center">
                <div style="margin :0 auto">
                  <h3>{{ recipeData.title }}</h3>
                  <img [src]="recipeData.imageUrl" style="max-width: 200px; height: 200px;" />
                  <h6>{{recipeData.description}}</h6>
                  <h6>Rs {{ recipeData.price }}</h6>
                  <h6>Will be served on {{recipeData.date}}</h6>
                  <h6>Pickup-start time:{{ recipeData.pickuptimestart }}</h6>
                  <h6>Pickup-end time:{{ recipeData.pickuptimeend }}</h6>
                  <h6>Book before: {{ recipeData.deadlinetime }} on {{recipeData.date}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showInactiveRecipe">
          <h1>Your inactive recipes are.</h1>
          <div class="row">
            <div class="col-md-4" *ngFor="let recipeData of postListForRequest">
              <div class="thumbnail" style="text-align:center">
                <div style="margin :0 auto">
                  <h3>{{ recipeData.title }}</h3>
                  <img [src]="recipeData.imageUrl" style="max-width: 200px; height: 200px;" />
                  <h6>{{recipeData.description}}</h6>
                  <h6>Rs {{ recipeData.price }}</h6>
                  <h6>Last Active on {{recipeData.date}}, {{recipeData.deadlinetime}}</h6>
                  <p><button class="btn btn-primary" (click)="activateRecipe(recipeData.key)">Activate</button></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showserveList">
          <h1>List of orders you have to serve</h1>
          <div class="row">
            <div class="col-md-4" *ngFor="let order of ordersToBeServed">
              <div class="thumbnail" style="text-align:center">
                <div style="margin :0 auto">
                  <h3>{{ order.item }}</h3>
                  <h3>To be served on {{order.pickupdate}}</h3>
                  <h5>Customer: {{order.customername}}</h5>
                  <h5>Quantity: {{order.quantity}}</h5>
                  <h5>Collect: Rs {{ order.price }}</h5>
                  <h5>Note for chef: {{order.note}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>
