<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.m
in.js"></script>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

<div class="container" style="padding-top:5%">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-0 col-lg-12">
    	 <div class=" well profile" >
            <div class="col-sm-12" *ngIf="chefData as user">
                <div class="col-xs-12 col-sm-8" >
                    <h2>{{user.fullname}}</h2>
                    <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Address:<br> <strong>{{user.address}}</strong></p>
                <p>Mobile No: <strong>{{user.mobile}}</strong></p>
                <p>Total no. of dishes sold: <strong>{{user.totaldishsold}}</strong></p>
                <p *ngIf="this.authService.isCustomer">Bio:  <strong>{{user.bio}}</strong></p>
                <div *ngIf="this.authService.isChef">
                <textarea rows="4" cols="57" [(ngModel)]="bio" placeholder="Bio" ></textarea>
                <p>Click the check to save bio</p>
                <i class="fa fa-check" (click)="save()"  aria-hidden="true"></i>
                </div>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                            <div class="text-center" *ngIf="this.authService.isCustomer" >
                                    <img [src]="imgUrl" width="200px" height="200px">
                                  </div>  
                        <div class="text-center" *ngIf="this.authService.isChef" >
                            <img [src]="imgUrl" width="200px" height="200px">
                          </div>
                          <div  style="margin: 5%" *ngIf="this.authService.isChef" >
                            <label class=" image-upload-container btn btn-bwm">Select image
                              <input type="file" accept="image/*" class="img_input " #fileUploader [(ngModel)]="imageUrl"
                                (change)="showPreview($event)">
                            </label>
                          </div>
                          <p><button (click)="photoUpload()" *ngIf="this.authService.isChef">Save</button></p>
                        
                    </figure>
                     
                </div>
            </div>            
    	 </div>                 
		</div>
	</div>
</div>
<div>
<h1 >Signature Dishes</h1>
<div class="row" >
    <div class="col-md-4" *ngFor="let recipeData of postList">
      <div class="thumbnail">
        <h2 style="text-align:center">{{ recipeData.title }}</h2>
        <img [src]="recipeData.imageUrl" style="max-width: 200px; height: 200px;" />
      </div>
    </div>
  </div>
</div>