<div class="row">
  <div style="margin:0 auto; margin-top: 3%;">
      <blockquote class="blockquote">
          <p class="mb-0 h3 display-4">POST YOUR RECIPE</p>
      </blockquote>
      <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="isSubmitted && valid && formTemplate.valid" class="spinner">
    <mat-spinner></mat-spinner>
</div>
<div class="card" >
  <div class="card-body">
    <form  [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
      <div class="text-center" >
        <img [src]="imgUrl"  width="250px" height="250px" (click)="fileUploader.click()">
      </div>
      <div class="form-group" style="margin: 5%">
        <label class=" image-upload-container btn btn-bwm">Select image
        <input type="file" accept="image/*" class="img_input form-control" #fileUploader formControlName="imageUrl"
          (change)="showPreview($event)">
        </label>
        <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is required.
        </div>
      </div>
      <input value="{{title}}"  formControlName="title" placeholder="Title">
      <div class="text-danger" *ngIf="isSubmitted && formControls.title.errors?.required">This field is required
       </div>
      <textarea rows="4" cols="57" value="{{description}}"  formControlName="description" placeholder=" Description"></textarea>
          <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required">This field is required
        </div>
         

        <div>
          <label>Price</label>
          <input value="{{price}}" formControlName="price"  placeholder="0">
          <div class="text-danger" *ngIf="isSubmitted && formControls.price.errors?.required">This field is required
          </div>
        </div>
        {{price}}
      <div>
      <mat-form-field class="example-full-width">
          <label>Pickup Date</label>
        <input matInput #input="ngModel"  [(ngModel)]="date" [ngModelOptions]="{standalone: true}" [min]="minDate" [max]="maxDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="input.hasError('matDatepickerMax')">Date should be inferior</mat-error>

      </mat-form-field>

      
      <!-- {{date|date: 'MM/dd/yyyy'}} -->

  </div>
  <div>
      <label>Pickup Time Starts At</label>
    <input  formControlName="pickuptimestart"  value="{{selectedStartTime}}" (click)="openStartTime($event)"  >
   
        <i class="material-icons">access_time</i>
     
  </div>
 
  <!-- {{selectedStartTime}} -->
  <div>
      <label>Pickup Time Ends At</label>
      <input  formControlName="pickuptimeend"  value="{{selectedEndTime}}" (click)="openEndTime($event)"  >
     
          <i class="material-icons">access_time</i>
       
    </div>
   
    <!-- {{selectedEndTime}} -->
    
    <div>
        <label>Deadline Time To Take Last Order</label>
        <input  formControlName="deadlinetime"  value="{{selectedDeadLineTime}}" (click)="openDeadLineTime($event)"  >
       
            <i class="material-icons">access_time</i>
         
      </div>
     
      <!-- {{selectedDeadLineTime}} -->

  <div class="form-row">
    <div class="form-group col-md-6">
      <a routerLink="/dashboard" class="btn btn-primary btn-block float-right">Go to Dashboard</a>
    </div>
    <div class="form-group col-md-6">
      <button  type="submit" class="btn btn-success btn-block float-right">Submit</button>
    </div>
  </div>
  </form>
</div>
</div>



