<div class="row">
  <div class="col-12">
    <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm)">

      <div class="row" *ngIf="authError">
        <div class="col-12 alert alert-danger">{{ authError?.message }}</div>
      </div>
      <h3>Reset Password</h3>
      <p class="text-center" style="color: red">Please enter your email address to request a password reset.</p>
      <div class="row">
        <div class="col-12">
          <label for="email">Email</label>
          <input ngModel #email="ngModel" name="email" placeholder="xyz@abc.com" type="email" class="form-control"
            required>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <a href="/login">Go Back To Login</a>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
