<table *ngIf="imageList">
    <tr *ngFor="let i of rowIndexArray">
        <td>
            <div class="imagebox" *ngIf="i==0">
                <a routerLink='/posts/upload'>
                    <img src="../../../assets/post-img/camera-clipart.png" class="img-fluid">
                    <span class="imagebox-desc">Insert New Image</span>
                </a>
            </div>
            
            <div class="imagebox" *ngIf="i!=0">
                <img [src]="imageList[3*i-1].imageUrl" class="img-fluid">
                <span class="imagebox-desc">{{imageList[3*i-1].caption}}</span>
            </div>
        </td>
        <td *ngIf="imageList[3*i]">
            <!-- <div class="imagebox">
                <img [src]="imageList[3*i].imageUrl" class="img-fluid">
                <span class="imagebox-desc">{{imageList[3*i].caption}}</span>
            </div> -->
            <div routerLink='/posts/upload'class="imagebox">
                    <!-- <a routerLink='/posts/upload'> -->
                <img [src]="imageList[3*i].imageUrl" class="img-fluid">
                <span class="imagebox-desc">{{imageList[3*i].caption}}</span>
                <!-- </a> -->
            </div>

        </td>
        <td *ngIf="imageList[3*i+1]">
            <div class="imagebox">
                <img [src]="imageList[3*i+1].imageUrl" alt="" class="img-fluid">
                <span class="imagebox-desc">{{imageList[3*i+1].caption}}</span>
            </div>
        </td>
    </tr>
</table>



<!-- <h1>Posts</h1>
<div *ngFor="let post of posts" style="width: 300px;">
    <div *ngIf="post">
        <div>
            <label>Caption : </label> {{post.caption}}
        </div>
        <div>
            <label>Category : </label> {{post.category}}
        </div> 
        ddd

        <div class="imagebox">
            <img [src]="post.imageUrl" class="img-fluid">
            <span class="imagebox-desc">{{post.caption}}</span>
        </div> -->
        <!-- <span class="button is-small btn-primary" *ngIf='post.active' (click)='updateActive(false)'>Inactive</span>
       
        <span class="button is-small btn-primary" *ngIf='!post.active' (click)='updateActive(true)'>Active</span>
       
        <span class="button is-small btn-danger" (click)='deletePost()'>Delete</span>
        -->
        <!-- </div>
</div> -->
<!-- <div style="margin-top:20px;">
  <button type="button" class="button btn-danger" (click)='deleteCustomers()'>Delete All</button>
</div> -->