<table *ngIf="imageList">
    <tr *ngFor="let i of rowIndexArray">
        <td>
            <div class="imagebox" *ngIf="i==0">
                <a routerLink='/posts/upload'>
                    <img src="../../../assets/post-img/camera-clipart.png" class="img-fluid">
                    <span class="imagebox-desc">Insert New Image</span>
                </a>
            </div>
            
            <div  class="imagebox" *ngIf="i!=0" (click)="onClick(imageList[3*i-1].key)">
                    
                <img [src]="imageList[3*i-1].imageUrl" class="img-fluid">
                
            </div>
        </td>
        <td *ngIf="imageList[3*i]">
            <div class="imagebox" (click)="onClick(imageList[3*i].key)">  
                <img [src]="imageList[3*i].imageUrl" class="img-fluid">
            </div>

        </td>
        <td *ngIf="imageList[3*i+1]" >
            <div class="imagebox" (click)="onClick(imageList[3*i+1].key)">
                 
                <img [src]="imageList[3*i+1].imageUrl" alt="" class="img-fluid">
            </div>
        </td>
    </tr>
</table>
